body {
  padding: 5%;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/02/14/26/winter-landscape-2571788_1280.jpg");
}
header {
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: flex-start;
  /* border: 1px solid #000; */

}
ul li {
  list-style: none;
}
a.btn:link,
a.btn:visited {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 2rem 1rem 0 0;
  width: auto;
  padding: 0.2em 0.4em;
  border-radius: 0.7em;
}

a.btn-primary:link,
a.btn-primary:visited {
  color: #fff;
  background-color: #007bff;
}
a.btn-primary:hover,
a.btn-primary:active {
  background-color: #0069d9;
}

a.btn-dangerous:link,
a.btn-dangerous:visited {
  background-color: #f82e2e;
  color: #fff;
}
a.btn-dangerous:hover,
a.btn-dangerous:active {
  background-color: #e42020;
}
.container {
  border: 1px solid #aaa;
  padding: 3%;
}
.container .item:nth-child(odd) {
  background-color: rgb(219, 219, 219);
}
.container .item {
  margin-bottom: 5px;
  border: 1px solid rgb(92, 92, 92);
  color: rgb(20, 22, 180);
}
.container .item:hover {
  cursor: pointer;
  border: 1px solid rgb(39, 9, 121);
  background-color: #aaa;
}
